body {
  text-align: center;
  height: 100vh;
}

.App {
  background: url("./images/coffee.jpg") no-repeat;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.input{
  display:block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}